/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
 /* fonts */
--heading-font-family: "alfa slab one", cursive;
--body-font-family: "open sans", sans-serif;
--fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

/* colors */
--text-color: #141414;
--link-color: #141414;
--link-hover-color: #141414;
--background-color: #ffffff;
--overlay-background-color: #eeeeee;
--highlight-background-color: #cccccc;

/* sizes */
--heading-font-size-xxl: 36px;
--heading-font-size-xl: 16px;
--heading-font-size-l: 18.72px;
--heading-font-size-m: 16px;
--heading-font-size-s: 13.28px;
--heading-font-size-xs: 10.72px;
--body-font-size-xxl: 16px;
--body-font-size-xl: 15px;
--body-font-size-l: 14px;
--body-font-size-m: 12px;
--body-font-size-s: 10px;

  /* nav height */
  --nav-height: 64px;

}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}


@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

/*

.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}.solid-nav{background-color:#ccc}.icon{text-indent:-9999px;color:transparent;font-size:0!important}.icon::before{font-family:FontAwesome;color:#8e7b5c;font-size:24px}.icon.facebook::before{content:''}.icon.twitter::before{content:''}.icon.instagram::before{content:''}.icon.youtube::before{content:''}.icon.pinterest::before{content:''}.icon.mail::before{content:''}.social{text-indent:-9999px;font-size:0!important;color:#141414}.social::before{font-family:FontAwesome;color:#141414!important;font-size:20px}.social.twitter:before{content:''}.social.facebook:before{content:''}.social.instagram:before{content:''}.social.youtube:before{content:''}ul.footer-subscribe,ul.mobile-subscribe{width:65%;margin:0 auto}ul.mobile-subscribe{margin-bottom:20px!important}li.ca-footer-email,li.ca-mobile-email{background:#8e7b5c;border-radius:1em;text-align:center;padding:5px 0 0}.ca-footer-mail-icon:before,.ca-mobile-mail-icon:before{font-size:24px;color:#fff}.ca-footer-subscribe,.ca-mobile-subscribe{font-size:16px;margin-left:1em;color:#000}.searchdrop .search.search--header input.search__input{background:#fff}.layout__top h1,div.pageTitle h1,.category__Header,.searchPage__Header h1{color:#f7f7f7;text-shadow:3px 3px #000}.categoryDrop{background-color:#fff;border:2px solid #8e7b5c}.wp-caption{max-width:100%!important}.wp-caption-text{text-align:center;font-size:12px;font-style:italic;font-weight:700;color:#888}@media screen and (min-width:45em){.wp-caption-text{font-size:16px}}.slick-image-slide-wrap img{object-fit:contain!important}.slick-dots{display:none!important}.single .entry-header,.single .entry-content{background:0 0!important}.wpcf7-form label,.wpcf7-form input[type=text],.wpcf7-form input[type=email],.wpcf7-form input[type=password],.wpcf7-form textarea{width:100%}.home-tall-banner a{background-image:none}@media screen and (min-width:45em){.home-tall-banner,.home-tall-banner div{width:100%;height:100%}.home-tall-banner img{height:100%!important;width:100%!important}}@media screen and (min-width:60em){.home-tall-banner{min-height:767px}.home-tall-banner img{display:none}.home-tall-banner,.home-tall-banner div{width:100%;height:100%}.home-tall-banner a{display:block!important;width:100%!important;height:100%!important;border:1px solid #000!important;background-size:cover;background-position:50% 50%;background-repeat:no-repeat}}.mc4wp-form-basic .mc4wp-success>p,.mc4wp-form-theme .mc4wp-success>p{font-size:14px;color:#468847!important;border:2px solid #468847;padding:10px;text-align:center;font-weight:700}.mc4wp-form-basic .mc4wp-error>p,.mc4wp-form-theme .mc4wp-error>p{font-size:18px;color:#cd5c5c!important;border:2px solid #cd5c5c;padding:10px;text-align:center;font-weight:700}.scrollToTop.scrollToTop--visible{opacity:.5}.g .g-single{text-align:center}.d-none{display:none!important}.d-inline{display:inline!important}.d-inline-block{display:inline-block!important}.d-block{display:block!important}.d-table{display:table!important}.d-table-row{display:table-row!important}.d-table-cell{display:table-cell!important}.d-flex{display:-ms-flexbox!important;display:flex!important}.d-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}@media(min-width:576px){.d-sm-none{display:none!important}.d-sm-inline{display:inline!important}.d-sm-inline-block{display:inline-block!important}.d-sm-block{display:block!important}.d-sm-table{display:table!important}.d-sm-table-row{display:table-row!important}.d-sm-table-cell{display:table-cell!important}.d-sm-flex{display:-ms-flexbox!important;display:flex!important}.d-sm-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media(min-width:768px){.d-md-none{display:none!important}.d-md-inline{display:inline!important}.d-md-inline-block{display:inline-block!important}.d-md-block{display:block!important}.d-md-table{display:table!important}.d-md-table-row{display:table-row!important}.d-md-table-cell{display:table-cell!important}.d-md-flex{display:-ms-flexbox!important;display:flex!important}.d-md-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media(min-width:992px){.d-lg-none{display:none!important}.d-lg-inline{display:inline!important}.d-lg-inline-block{display:inline-block!important}.d-lg-block{display:block!important}.d-lg-table{display:table!important}.d-lg-table-row{display:table-row!important}.d-lg-table-cell{display:table-cell!important}.d-lg-flex{display:-ms-flexbox!important;display:flex!important}.d-lg-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media(min-width:1200px){.d-xl-none{display:none!important}.d-xl-inline{display:inline!important}.d-xl-inline-block{display:inline-block!important}.d-xl-block{display:block!important}.d-xl-table{display:table!important}.d-xl-table-row{display:table-row!important}.d-xl-table-cell{display:table-cell!important}.d-xl-flex{display:-ms-flexbox!important;display:flex!important}.d-xl-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}@media print{.d-print-none{display:none!important}.d-print-inline{display:inline!important}.d-print-inline-block{display:inline-block!important}.d-print-block{display:block!important}.d-print-table{display:table!important}.d-print-table-row{display:table-row!important}.d-print-table-cell{display:table-cell!important}.d-print-flex{display:-ms-flexbox!important;display:flex!important}.d-print-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}}a.asset-external-link{display:inline;width:30px;height:30px}.layout__main article{padding-bottom:20px;overflow:hidden}.grid.contributorBlock{margin-top:20px;z-index:2}.prev-next{display:flex;flex-wrap:wrap;justify-content:space-between;max-width:1080px;margin:30px auto 0;align-items:stretch}.prev-next .article__Page{background-color:rgba(142,123,92,.2);padding:20px 10px;border:1px solid #8e7b5c;display:block;width:100%;height:100%}.prev-next .article__Page.article--Prev,.prev-next .article__Page.article--Next{text-align:center}.prev-next span,.layout--articlePage .newsArticle__pagination .article__Page span{font-size:16px;display:inline-block;color:#8e7b5c}.prev-next h3,.prev-next span,.layout--articlePage .newsArticle__pagination .article__Page h3,.layout--articlePage .newsArticle__pagination .article__Page span{line-height:35px;font-size:18px;font-weight:700;font-family:montserrat,sans-serif}.layout--articlePage .newsArticle__pagination .article__Page.article--Prev h3:before,.prev-next .article__Page.article--Prev h3:before{content:'';font-family:FontAwesome;margin-right:10px;font-size:14px}.layout--articlePage .newsArticle__pagination .article__Page.article--Next h3:after,.prev-next .article__Page.article--Next h3:after{content:'';font-family:FontAwesome;margin-left:10px;font-size:14px}@media screen and (min-width:45em){.prev-next .article__Page.article--Prev{text-align:left}.prev-next .article__Page.article--Next{text-align:right}}@media screen and (min-width:60em){.prev-next .article__Page{padding:20px 40px}.prev-next .prev-next-prev-article{padding-left:0;padding-right:10px}.prev-next .prev-next-next-article{padding-left:10px;padding-right:0}}input[type=button],input[type=reset],input[type=submit],button,.button{background-color:#000;border-width:2px}.layout--ContributorInfo .block--contributor .contributor__right .info__block .name h1{text-shadow:none!important}.block--contributor .contributor__right .cName,.block--contributor .contributor__right .contributor__info .info__block h2.cName{font-size:16px!important}@media print,screen and (min-width:45em){.block--contributor .contributor__right .cName,.block--contributor .contributor__right .contributor__info .info__block h2.cName{font-size:20px!important}}@media screen and (min-width:60em){.block--contributor .contributor__right .cName,.block--contributor .contributor__right .contributor__info .info__block h2.cName{font-size:24px!important}}.g{width:100%}.g .adbanner img{float:none!important}.wp-caption{padding:20px}.alignright{float:right!important}.alignleft{float:left!important}.wpsisac-slick-carousal.design-ca-1{margin-bottom:25px}.wpsisac-slick-carousal.design-ca-1 .slick-image-slide{text-align:center}.wpsisac-slick-carousal.design-ca-1 .slick-image-slide img{display:inline-block!important}.wpsisac-slick-carousal.design-ca-1 .slick-arrow{top:50%!important;cursor:pointer;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.wpsisac-slick-carousal.design-ca-1 .slick-next{right:0!important}.wpsisac-slick-carousal.design-ca-1 .slick-prev{left:0!important}.wpsisac-slick-carousal.design-ca-1 .slick-dots{left:15px!important;right:15px;text-align:center;bottom:0!important}.layout--articlePage .block--newsArticle .newsArticle__content img{display:block;padding:10px;margin:auto}@media screen and (min-width:60em){.layout--articlePage .block--newsArticle .newsArticle__content img{float:none;padding:20px 20px 20px 0;margin:20px}.layout--articlePage .block--newsArticle .newsArticle__content img.aligncenter,.layout--articlePage .block--newsArticle .newsArticle__content img[style*='margin-left:auto'],.layout--articlePage .block--newsArticle .newsArticle__content img[style*='margin-left: auto']{float:none;padding-left:20px}}.cat-block .wysiwyg p{font-size:16px;line-height:26px}.fb-comments iframe{max-height:none!important}

.sc_card{box-shadow:0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);border-radius:4px;background:#fff;margin:2em auto;width:100%;overflow:hidden;padding:1em;box-sizing:border-box}.sc_card h1,.sc_card h2,.sc_card h3,.sc_card h4,.sc_card h5,.sc_card h6{font-size:1em;line-height:1.2em;margin:0 0 1em;font-weight:700}.sc_card p{font-size:1em}.sc_card p:last-child{margin-bottom:0}.sc_card p:empty{display:none;margin-bottom:0}.sc_card img{margin-bottom:1em}.sc_card .sc_row{display:grid;grid-template-columns:1fr 1fr;grid-column-gap:15px;margin-top:15px}.sc_card .sc_company{display:grid;grid-template-columns:2fr 1fr;grid-column-gap:15px}.sc_card .sc_company-logo-wrapper,.sc_card .sc_person-image-wrapper{height:auto;margin-top:15px;background:#fff;box-shadow:0 2px 2px rgba(0,0,0,.16),0 0 1px rgba(0,0,0,.08);border-radius:4px;max-width:100%;width:auto;overflow:hidden;margin-bottom:12px}.sc_card .sc_company-logo-wrapper img,.sc_card .sc_person-image-wrapper img{width:auto;height:auto;max-width:100%;margin:0}.sc_card .sc_grey-box{background:#f2f2f2;border-radius:4px;padding:16px}.sc_card .sc_grey-box .sc_box-label{font-style:normal;font-weight:600;font-size:14px;line-height:150%;text-transform:uppercase;color:#000;margin-bottom:12px}.sc_card .sc_input-group .sc_input-label{font-style:normal;font-weight:700;font-size:12px;line-height:150%;color:#000}.sc_card .wp-block-structured-content-person__colleague_url{font-size:.875em;word-break:break-word}@media(max-width:468px){.sc_card p{padding:0 1em 1em}}@media(min-width:469px){.sc_fs_faq__figure{float:right;margin-left:1em;margin-bottom:1em}.sc_fs_faq__figure a{display:block}.sc_fs_faq__figure a img{margin-bottom:0}}@media(max-width:640px){.sc_card .sc_row{grid-template-columns:1fr;margin-top:0}.sc_card .sc_company{grid-template-columns:1fr}.sc_card .sc_grey-box{margin-top:15px}}.w-100{width:100%}i.mce-ico.mce-i-structured-content{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAYAAACQjC21AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE5SURBVHgBrZThUcMwDIWfQrgDfiUbdASPkG7ABsAEhU3YAJigsEFHMBtkg+YX9OBi8YyTNmAuuG3enRM7tj/JkhVpzPkaQIFp1OQDWNO9OdYakIER7eZkFtb5cdT/3pv3WzJkty0+XjOcLBzwxIUVP9ehqeG8OugL4AxX05hjE8vGOagC94HTycOA05lyAYe9xTr0tXZwkkEWQN59F3rWeg8LwqqeI4yhxkfe9ocqdkY8TM2vfgScRNsYKvSmtJtHHKC1ObsWyMMP4G7y4jIEPEVZU9q3Z/zlYS+BLv0zTRq2jAF59DmS1UbJi4C8b1dIls/wpx0F0kPGMLkUvYd3o8DCvpc4QhGQ93KJPX4WdGA+CvSlhGTp/0kp7GaPLMcalt6Kt73GASLA9PU89LBSHF/WBOoKk0mbL1wWbz1nKPlvAAAAAElFTkSuQmCC)!important;background-size:85%;background-repeat:no-repeat;background-position:center;margin-right:4px}.mce-window.mce-container.mce-sc_panel .mce-container-body.mce-abs-layout{overflow:hidden}.entry-content .sc_fs_faq summary:focus,.sc_fs_faq summary:focus{outline:none}.entry-content .sc_fs_faq summary *,.sc_fs_faq summary *{margin:0;display:inline;padding:0}.entry-content .sc_fs_faq summary+div,.sc_fs_faq summary+div{overflow:hidden}.entry-content .sc_fs_faq summary+div img,.sc_fs_faq summary+div img{margin-top:0}.sc_fs_card__animate summary{display:block;cursor:pointer;position:relative;padding:1em 1em 1em 2em}.sc_fs_card__animate summary:before{content:"";position:absolute;top:1.5em;left:1em;transform:rotate(0);transform-origin:.2rem 50%;transition:.25s transform ease;border:.4rem solid transparent;border-left-color:inherit}.sc_fs_card__animate[open]>summary:before{transform:rotate(90deg)}.sc_fs_card__animate{padding:0}.sc_fs_card__animate .sc_fs_faq__content{padding:0 1em 1em}.sc_fs_card__animate .sc_fs_faq__content>*:first-child{margin-top:0}.sc_business-logo-wrapper,.sc_business-image-wrapper{margin:0}

.ts-poll-preview-control,.tspoll_selector_block,.tspoll_selector_block .components-placeholder__fieldset{align-items:center!important}.tspoll_selector_block .components-placeholder__fieldset{flex-direction:column;-ms-flex-direction:column;-webkit-box-direction:column}.tspoll_guttenberg_block{cursor:not-allowed}.tspoll_guttenberg_block *{pointer-events:none}.ts_poll_select_block{padding-right:.125rem;padding-left:.4375rem;margin-top:.5rem;border-top:.0625rem solid #e2e4e7;border-bottom:.0625rem solid #e2e4e7;background-color:#fff;width:max-content}.ts_poll_select_block .components-select-control__input{padding:0 1.5rem 0 .5rem}.ts_poll_select_block .components-base-control__field{margin-bottom:0;margin-top:.1875rem;margin-left:.25rem}

*/